Personregister.Tests/Service References/PersonServiceReference/PersonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://register.nhn.no/PR" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://register.nhn.no/PR" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IPersonService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://register.nhn.no/PR/Imports">
      <xsd:import schemaLocation="https://personregister-web.test.nhn.no/Personregister.WCF/PersonService.svc?xsd=xsd0" namespace="http://register.nhn.no/PR" />
      <xsd:import schemaLocation="https://personregister-web.test.nhn.no/Personregister.WCF/PersonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://personregister-web.test.nhn.no/Personregister.WCF/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NHN.Contracts.Data" />
      <xsd:import schemaLocation="https://personregister-web.test.nhn.no/Personregister.WCF/PersonService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IPersonService_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersons" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddresses" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetChildren_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChildren" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetChildren_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetIdentityChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdentityChanges" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetIdentityChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdentityChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChanges" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChangesResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonService">
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://register.nhn.no/PR/IPersonService/Search" message="tns:IPersonService_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://register.nhn.no/PR/IPersonService/SearchResponse" message="tns:IPersonService_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://register.nhn.no/PR/IPersonService/GetPerson" message="tns:IPersonService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://register.nhn.no/PR/IPersonService/GetPersonResponse" message="tns:IPersonService_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <wsdl:input wsaw:Action="http://register.nhn.no/PR/IPersonService/GetPersons" message="tns:IPersonService_GetPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://register.nhn.no/PR/IPersonService/GetPersonsResponse" message="tns:IPersonService_GetPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddresses">
      <wsdl:input wsaw:Action="http://register.nhn.no/PR/IPersonService/GetAddresses" message="tns:IPersonService_GetAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://register.nhn.no/PR/IPersonService/GetAddressesResponse" message="tns:IPersonService_GetAddresses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChildren">
      <wsdl:input wsaw:Action="http://register.nhn.no/PR/IPersonService/GetChildren" message="tns:IPersonService_GetChildren_InputMessage" />
      <wsdl:output wsaw:Action="http://register.nhn.no/PR/IPersonService/GetChildrenResponse" message="tns:IPersonService_GetChildren_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdentityChanges">
      <wsdl:input wsaw:Action="http://register.nhn.no/PR/IPersonService/GetIdentityChanges" message="tns:IPersonService_GetIdentityChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://register.nhn.no/PR/IPersonService/GetIdentityChangesResponse" message="tns:IPersonService_GetIdentityChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChanges">
      <wsdl:input wsaw:Action="http://register.nhn.no/PR/IPersonService/GetChanges" message="tns:IPersonService_GetChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://register.nhn.no/PR/IPersonService/GetChangesResponse" message="tns:IPersonService_GetChanges_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IPersonService" type="tns:IPersonService">
    <wsp:PolicyReference URI="#CustomBinding_IPersonService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://register.nhn.no/PR/IPersonService/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap12:operation soapAction="http://register.nhn.no/PR/IPersonService/GetPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <soap12:operation soapAction="http://register.nhn.no/PR/IPersonService/GetPersons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddresses">
      <soap12:operation soapAction="http://register.nhn.no/PR/IPersonService/GetAddresses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildren">
      <soap12:operation soapAction="http://register.nhn.no/PR/IPersonService/GetChildren" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdentityChanges">
      <soap12:operation soapAction="http://register.nhn.no/PR/IPersonService/GetIdentityChanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChanges">
      <soap12:operation soapAction="http://register.nhn.no/PR/IPersonService/GetChanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="CustomBinding_IPersonService" binding="tns:CustomBinding_IPersonService">
      <soap12:address location="https://personregister-web.test.nhn.no/Personregister.WCF/PersonService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://personregister-web.test.nhn.no/Personregister.WCF/PersonService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>personregister-web.test.nhn.no</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>